@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #B31312;
    --background-color: #030A14;
    --border-color: #002F5E;
    --focus-color: #08b308;
    --link-color: #009100; 
}

@font-face {
    font-family: "space-rave-regular";
    src: 
        url('../fonts/spacerave-6ye1m-webfont.woff') format('woff'),
        url('../fonts/spacerave-6ye1m-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "space-rave-italic";
    src: 
        url('../fonts/spaceraveitalic-z8gog-webfont.woff') format('woff'),
        url('../fonts/spaceraveitalic-z8gog-webfont.woff2')  format('woff2');
    font-weight: normal;
    font-style: italic;
}

body {
    display: flex;
}

.picture {
    position: relative;
    font-family: 'space-rave-italic', sans-serif;
    font-size: 3.6rem;
    width: 40vw;
    height: 100vh;
    background: url(../img/serafin-reyna-background.jpg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.picture > div {
    color: var(--title-color);
}

div.picture > div:first-child {
    padding-left: 12px;
    background: -webkit-linear-gradient(left,rgba(234, 144, 108, 0.8), rgba(238, 226, 222, 0.4));
}

div.picture > div + div {
    padding-right: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    font-size: 2rem;
}

div.right {
    font-family: 'Roboto', sans-serif;
    color: #EEE2DE;
    width: 60vw;
    background: var(--background-color);
    padding: 40px;
}

div.right > div:first-child {
    width: 600px;
    font-size: 1.8rem;
    padding-bottom: 30px;
}

div.text-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label, input {
    display: block;
}

div.text-input > div {
    padding: 12px 12px 12px 0;
} 

input {
    border: 3px solid var(--border-color);
    border-radius: 4px;
    width: 300px;
    height: 30px;
}

input:focus {
    outline: none;
    border: 3px solid var(--focus-color);
}

button {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--background-color);
    margin: 18px 0 30px;
    padding: 8px 30px;
    border-style: none;
    background-color: var(--title-color);
    border-radius: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color);
}





