@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "space-rave-regular";
    src: 
        url('../fonts/spacerave-6ye1m-webfont.woff') format('woff'),
        url('../fonts/spacerave-6ye1m-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "space-rave-italic";
    src: 
        url('../fonts/spaceraveitalic-z8gog-webfont.woff') format('woff'),
        url('../fonts/spaceraveitalic-z8gog-webfont.woff2')  format('woff2');
    font-weight: normal;
    font-style: italic;
}

body {
    display: flex;
}

.picture {
    position: relative;
    font-family: 'space-rave-italic', sans-serif;
    font-size: 4rem;
    width: 40vw;
    height: 100vh;
    background: url(../img/serafin-reyna-background.jpg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.picture > div {
    color: #B31312;
}

div.picture > div + div {
    position: absolute;
    bottom: 0;
    text-align: end;
}

.right {
    font-family: 'Roboto', sans-serif;
    color: #EEE2DE;
    width: 60vw;
    background: #030A14;
}
